<div class="container-fluid">
    <div class="row d-flex align-items-center">
        <div class="col-md-6 text-center">
            <h1 class="home_title">Hi, <br>I'm <span class="home_title-color"> Christopher Copeland</span></h1>
            <p><span class="typed-text"></span><span class="cursor">&nbsp;</span></p>
            <button type="button" class="btn btn-primary" routerLink="contact">Contact</button>
            
            <div class="social-links">
                <a href="https://www.linkedin.com/in/christopher-copeland-3aa599180/"><i class="fab fa-linkedin"></i></a>
                <a href="https://github.com/CJcrispy"><i class="fab fa-github"></i></a>
                <a href="https://twitter.com/CJcrispy_"><i class="fab fa-twitter"></i></a>
            </div>
        </div>

    
        <div class="col-md-6 d-flex align-items-center" style="height: 700px;">
            <img src="../../../assets/pictures/profile_pic.jpg" class="h-50 d-inline-block mx-auto d-block rounded-circle img-fluid" alt="">
        </div>
    </div>
</div>