.container-fluid {
  background: url('../../../assets/pictures/background1.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container p {
    font-size: 3rem;
    padding: 0.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden;
  }
  .container p span.typed-text {
    font-weight: normal;
    color: #dd7732;
  }
  .container p span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
  }
  .container p span.cursor.typing {
    animation: none;
  }
  @keyframes blink {
    0%  { background-color: #ccc; }
    49% { background-color: #ccc; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100%  { background-color: #ccc; }
  }

button {
    margin-top: 5px;
}

.home_title {
    font-size: var(--big-font-size);
    margin-top: var(--mb-3);
    margin-bottom: var(--mb-5);
}

.home_title-color{
    color: var(--first-color);
}



.social-links i{
    padding: 5px;
    width: max-content;
    margin-top: var(--mb-2);
    margin-bottom: var(--mb-2);
    font-size: 2rem;
    color: var(--second-color);
}

.home_social-icon:hover{
    color: var(--first-color);
}